.container {
  padding: 1em;
  width: 95%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  gap: 1em;

  .pageContainer {
    width: 100%;
    //background-color: blue;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
    backdrop-filter: blur(10px);
  }
}

.sidebar {
  height: 100%;
  width: 20%;
}

.content {
  height: 100%;
  width: 80%;
}