.container {
  padding: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 1em;
  color: white;

  .tableSection {
    margin-top: 2rem;
    width: 100%;

    h2 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 0.5rem;
    }
  }
}