.button {
  color: white;
  text-decoration: none;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;

    .icon {
      animation: moveToRight 1s linear infinite;
    }
  }

  &.active {
    background-color: white;
    color: black;

    .icon {
      color: black;
    }

    @keyframes moveToRight {
      0% { transform: translateX(0); }
      90% { transform: translateX(2em); }
      100% { transform: translateX(0); }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;

    .icon {
      color: white;
      margin-left: 1em;
    }
  }
}