#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}


.background {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../../public/images/bg-main.png') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
