.button {
    cursor: pointer;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    color: inherit;
    
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}