.container {
  padding: 1em;
  width: 95%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 0.3em;
}

.sidebar {
  height: 100%;
  width: 20%;
  //background-color: blue;
}

.content {
  height: 100%;
  width: 80%;
  //background-color: green;
}