.container {
  padding: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 1em;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5em;
    gap: 2em;
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
      color: white;
    }
  }

  .tableSection {
    width: 100%;
  }

  .error {
    background-color: rgba(231, 76, 60, 0.2);
    color: #e74c3c;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    border: 1px solid rgba(231, 76, 60, 0.3);
  }

  .pagesTabHeader {
    display: flex;
    justify-content: left;
    gap: 2em;
    //background-color: rgba(255, 255, 255, 0.1);
    flex-wrap: wrap;
  }
}