.container {
  width: 20%;
  height: 100%;
  //background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 0.3em;
}