@use '../../styles/colors.scss' as colors;

$blur_volume: 10px;

.container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  //border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.3em;
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
  backdrop-filter: blur($blur_volume); // Blurs what is behind the element
  -webkit-backdrop-filter: blur($blur_volume); // For Safari support

  h2 {
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
  }

  .loggedInContainer {
    color: #05ff05;
    width: 95%;
    border-radius: 0.3em;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;

    .loggedInText {
    }

    .logoutButton {
      padding: 0;
      margin: 0.2em 0 0.2em 2em;
      border: 1px solid transparent;
      background-color: transparent;
      cursor: pointer;

      .logoutIcon {
        width: 1.5em;
        height: 1.5em;
        color: colors.$warning;
        transition: color 0.3s;
      }

      &:hover {
        border: 1px solid colors.$error;

        .logoutIcon {
          color: colors.$error;
        }
      }
    }
  }

  .linksContainer {
    width: 95%;
    margin-top: 1rem;
    gap: 0.5rem;
  }
}